

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
/*====================Subir====================*/
.ir-arriba{
    display:none;
	padding:20px;
	background:chocolate;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px; 
}
.ir-arriba :hover{
    background: chartreuse;
}
/*========================================*/
/*====================header====================*/
header{
    height: 20%;
    padding: 1em;
    background-image: url('../Imag/Fondos/002.png');
    
}
.holas{
    filter: blur(6px);
}
.ColorHeader{
    background-color:#206d0d;
    color: #ffffff;
}
.textoAnimado a{
    text-decoration: none;
    color: chartreuse;
}
.contenidoHeader{
    font-size: 1.3em;
}
.RegistroSesionHeader{

/* Arriba | Derecha | Abajo | Izquierda */
    margin: auto 5em 0.5em auto;

}
/* buscador */
.botonBuscar{
    background-color: chocolate;
    color: #ffffff;
}
.botonBuscar:hover{
    background-color: rgb(255, 97, 6);
    color: #ffffff;
}
.sombraTexto{
    text-shadow: 1.5px 1.5px 2px #0f3f03;
}

/* ========================================= */
.sinlineas a{
    text-decoration: none;
    color: #ffffff;
}
.sinlineas  :hover{
    color:rgb(255, 97, 6);
}

/*===================MENU==========================*/
nav{
    background-color: #f6ece3;
}
#menu a, button{
    font-size: 20px !important;
    font-weight: 600;

}

#menu a{
    text-decoration: none;
    color:#7a6f5b;

}
#menu :hover{
    text-decoration: none;
    color:#c1df02;

}

/*=========================PRODUCTO================================*/
.buttonEditar{
    width: 150PX;
    margin: 0px 25px;
}
.tiendaImagenes{
    height: 300px;
    color: blanchedalmond;
}
.imagenOscura{
    filter: brightness(50%);
}
/*===================SLIDER DE IMAGENES==========================*/


.text-primary {
    color: #a4bf00!important;
}

/*===========SECCION NUESTRO EQUIPO IMAGEN=================*/

#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*============SECCION NUESTRO EQUIPO MAPA====================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.mapa {
    background: url(https://cdn.pixabay.com/photo/2017/10/23/13/27/sunflower-2881039_960_720.jpg);
    width:100%;
    height:250px;
}



.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION TIENDA==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}
#numeros-local div:not(:first-child) {
    padding-left:20px;
}

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
}

#seccion-contacto{
    background-color: #206d0d;
    min-height:500px;
    position:relative;
    background-image: url(../Imag/Fondos/002.png);
}

/*=========================CONTACTOS ORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;

}

#titulo-formulario {
    color: #3f3f3f;
}

/*=========================CONTACTOS ORMULARIO================================*/


/*=========================FOOTER================================*/

footer {
    background: #034e01;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }

    #local {
        flex-wrap: wrap;
        padding-top:30px;
}
.wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;
}

}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }


    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
    .contenidoHeader{
        font-size: 1em;
    }
}