::-webkit-scrollbar {
    display: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-family: 300;
    color: #ffffff;


}

.bg-dark{
    background-color: #171c16 !important;
    background-image: url(../Imag/Fondos/003.png);
}
.bg-dark-x{
    background-color:#1e2126;

}
.from-control, .btn {
    min-height: 3.125rem;
    line-height: initial;
}
.marginGoogle{
    margin: 0 15px 0 0;

}
.img-1{

    background-image: url('https://cdn.pixabay.com/photo/2020/08/11/15/23/tree-5480239_960_720.jpg');
    background-size: cover;
    background-position: center;

}
.img-2{

    background-image: url('https://cdn.pixabay.com/photo/2021/10/19/12/30/elephant-6723452_960_720.jpg');
    background-size: cover;
    background-position: center;

}
/*
@media screen and (min-width:360px) and (max-width:640px){

}
*/
